[submodule "bin/meshgeometry"]
	path = bin/meshgeometry
	url = https://r03ert0@github.com/r03ert0/meshgeometry
[submodule "bin/volume"]
	path = bin/volume
	url = https://r03ert0@github.com/r03ert0/volume
[submodule "data/external/BrainCatalogueWorkflow"]
	path = data/external/BrainCatalogueWorkflow
	url = https://r03ert0@github.com/r03ert0/BrainCatalogueWorkflow
[submodule "bin/bhtsne"]
	path = bin/bhtsne
	url = https://r03ert0@github.com/lvdmaaten/bhtsne
[submodule "bin/meshparam"]
	path = bin/meshparam
	url = https://r03ert0@github.com/r03ert0/meshparam
[submodule "bin/skeleton"]
	path = bin/skeleton
	url = https://r03ert0@github.com/r03ert0/skeleton
[submodule "bin/libigl"]
	path = bin/libigl
	url = https://r03ert0@github.com/libigl/libigl
[submodule "bin/tsnejs"]
	path = bin/tsnejs
	url = https://github.com/karpathy/tsnejs.git
[submodule "bin/GMatch4py"]
	path = bin/GMatch4py
	url = https://github.com/Jacobe2169/GMatch4py.git
