[submodule "bin/meshgeometry"]
	path = bin/meshgeometry
	url = https://r03ert0@github.com/r03ert0/meshgeometry
[submodule "bin/volume"]
	path = bin/volume
	url = https://r03ert0@github.com/r03ert0/volume
[submodule "bin/meshparam"]
	path = bin/meshparam
	url = https://r03ert0@github.com/r03ert0/meshparam
[submodule "bin/skeleton"]
	path = bin/skeleton
	url = https://r03ert0@github.com/r03ert0/skeleton
[submodule "bin/libigl"]
	path = bin/libigl
	url = https://r03ert0@github.com/libigl/libigl
[submodule "bin/tsnejs"]
	path = bin/tsnejs
	url = https://github.com/karpathy/tsnejs.git
